<!-- Overview tab -->
<div class="row">
  <!-- Usage column -->
  <div class="usage">
    <%= partial(:'datasets/usage', locals: {dataset: dataset}) %>
  </div>

  <!-- Properties column -->
  <div class="properties">
    <%= partial(:'datasets/properties', locals: {dataset: dataset}) %>
  </div>
</div> <!-- .row -->