<header>
  <h2 class="title">Sharing</h2>
</header>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>iSCSI</td>
      <td><input type="checkbox" class="switch property" name="iscsi" <%= 'checked data-checked' if dataset.compression? %>></td>
    </tr>
  </tbody>
</table>